/*Definindo cores Variáveis*/
:root {
    --dark-liver: #484349ff;
    --isabelline: #f7f0f0ff;
    --electric-blue: #8af3ffff;
    --persian-green: #18a999ff;
    --spanish-green: #109648ff;
}

/*Carregando as Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

body {
    background-color: var(--isabelline);
    font-family: 'Roboto', sans-serif;
    color: #000;

    display: block; /*Altera o modo de mostrar o conteúdo para um bloco*/
    width: 50%; /*define que este bloco tenha tamanho de X% do tamanho total horizontal da página*/
    margin: auto; /*Define a margem para automático*/
    margin-top: 50px;
    margin-bottom: 50px;
}

/*
------------> IMPORTANTE <------------
Todos estes @media fazem com que o bloco de conteúdo do site, dependendo do tamanho da tela se torne maior ou menor.
*/

@media (max-width: 1000px) {
    body {
        width: 70%; /*define que este bloco tenha tamanho de 40% do tamanho total horizontal da página*/
    }
}

@media (max-width: 900px) {
    body {
        width: 80%; /*define que este bloco tenha tamanho de 40% do tamanho total horizontal da página*/
    }
}

@media (max-width: 700px) {
    body {
        width: 90%; /*define que este bloco tenha tamanho de 40% do tamanho total horizontal da página*/
    }
}

body {
    background-color: var(--isabelline);
    font-family: 'Roboto', sans-serif;
    color: #000;
}

#secaodescricao {
    width: 60%;
    margin: auto;
    text-align: center;
}

#umPoucoMais {
    width: 90%;
    margin: auto;
    text-align: center;
}

#person-details {
    color: var(--spanish-green);
}

.profile {
    border-radius: 100px; /*Arredonda as bordas*/
}

#primeiroTitulo {
    color: var(--dark-liver);
    margin-bottom: 25px;
}

.divs-de-secoes {
    margin: 50px 20px 50px 20px;
}

.lista-de-desc {
    line-height: 3px;
    color: var(--persian-green);
}

#hardskills, #softskills {
    width: 48%;
    margin-right: auto;
    display: inline-block;
    vertical-align: top;
}

#hardskills {
    padding-right: 15px;
}